.container{
    display: grid;
    grid-template-columns: 75% auto;
}

.input{
    height: 30px;
    outline: none;
    border: 1px solid #bdbdbd;
    font-size: 16px;
    font-family: "Montserrat";
    padding: 0 7px;
}

.button{
    border: 1px solid #bdbdbd;
    font-size: 16px;
    font-family: "Montserrat";
}

.button:active{
    background-color: #e7e7e7;
}